apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
spec:
  replicas: 1
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
        - name: container1
          image: amitksunbeam/github-action-demo:19510075055
          ports:
            - containerPort: 80
